---
layout: default
---



<!-- Main French -->
{% include components/spotlights.html id="intro-fr" spotlights=site.data.settings.francais %}


<!-- Main English -->

{% include components/spotlights.html id="intro-en" spotlights=site.data.settings.english %}

<!-- Main Allemand -->
{% include components/spotlights.html id="intro-de" spotlights=site.data.settings.allemand %}


<!-- Main Español -->
{% include components/spotlights.html id="intro-es" spotlights=site.data.settings.spanish %}
