{% comment %}

	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Global site header.
		Set "header_class" to "alt" to create a "revealing" header.

	Example:

		---
		header_class: alt
		---

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
<header id="header" class="alt">
	<span class="logo"><img src="images/logo.svg" alt="" /></span>
	<h1>Fab14Edu</h1>
	<p>
		Apprentissage et résilience des territoires<br />
		Life-long learning through territories<br />
		Lebenslanges Lernen und Resilienz der Gebiete<br />
		Aprendizaje y Resiliencia des los territorios <br>
		12-15 juillet 2018<br />
		<a href="http://www.openstreetmap.org/#map=16/48.6856/6.8047">Bataville, Grand-Est, France</a>
	</p>
</header>
